// General
body {
  @include font($base-font-size, $base-line-height);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Headings
h1 {
  @include font($base-font-size--xl, $base-line-height--xl);
  font-weight: $base-font-weight--bold;
}

h2 {
  @include font($base-font-size--lg, $base-line-height--lg);
  font-weight: $base-font-weight--bold;
}

h1,
h2 {
  margin-top: $base-unit * 5;
  margin-bottom: $base-unit * 2;

  & + .byline {
    display: block;
    margin-top: -$base-unit * 2;
    margin-bottom: $base-unit * 3;
  }
}

h1 {
  margin-top: 0;
}

// Text
p {
  margin-bottom: $base-unit * 2;
}

// Code
code {
  font-family: 'Consolas', 'Courier New', monospace;
}