// Units
$base-unit: 8px;

$base-border-radius: 4px;
$base-box-shadow: 0 0 8px 4px rgba(#000, 0.125);

// Typography
$base-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$base-font-family--monospace: 'Monaco', 'Consolas', monospace;

$base-font-size: $base-unit * 2.5;
$base-font-size--sm: $base-unit * 2;
$base-font-size--lg: $base-unit * 4;
$base-font-size--xl: $base-unit * 5;

$base-line-height: $base-unit * 4;
$base-line-height--lg: $base-unit * 5;
$base-line-height--xl: $base-unit * 6;

$base-font-weight: 400;
$base-font-weight--bold: 700;

// Transition
$base-transition: all 0.35s ease-in-out;